<div class="main">
  <section class="texto-header">




  </section>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
          style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C149.99,150.00 233.35,-75.48 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: rgb(255, 255, 255);"></path>
      </svg>
  </div>

  <div class="card-mine">
      <h1>"Relax es facil"</h1>
      <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit maxime reprehenderit sint
          repellat
          minus asperiores officiis officia fugit ex expedita nemo, nulla laborum corporis, libero et.
          Possimus fugit sunt explicabo!</h3>

  </div>

  <div class="h-mision">
      <h2>Mision</h2>
  </div>
  <section class="mision">

      <div class="misi">
          <div class="mision-one">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi earum vitae laudantium pariatur velit
                  asperiores quae debitis, enim eaque quod tempora dolore deleniti. Deleniti laudantium reiciendis
                  ratione laboriosam dignissimos veritatis.</p>
          </div>
          <div class="mision-two">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi earum vitae laudantium pariatur velit
                  asperiores quae debitis, enim eaque quod tempora dolore deleniti. Deleniti laudantium reiciendis
                  ratione laboriosam dignissimos veritatis.</p>
          </div>
      </div>
      <div class="mision-img">
          <img src='/assets/imagenes/mudanza.jpg'>
      </div>
  </section>

  <div class="h-servicio">
      <h2>Servicios</h2>
  </div>
  <section class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src='/assets/imagenes/box.png'>
                  <h3>Embalaje</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                      provident at.</p>
                  <a href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src='/assets/imagenes/van.png'>
                  <h3>Code</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                      provident at.</p>
                  <a href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src='/assets/imagenes/worker.png'>
                  <h3>worker</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                      provident at.</p>
                  <a href="#">Read More</a>
              </div>
          </div>
      </div>
  </section>
  <section>

  </section>
</div>